include *.py
include *.rst
include *.sh
include COPYING
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.csv
recursive-include examples *.md
recursive-include examples *.placeholder
recursive-include examples *.py
recursive-include examples *.svg
recursive-include tests *.py
